@using System.Text;
@using eoj12.DCS.Toolkit.Services;
@using eoj12.DCS.Toolkit.Data;
@using eoj12.DCS.Toolkit.Models;
@using System.Net;
@using System.Net.Http
@using System.IO
@using System.Threading.Tasks

@inject DialogService DialogService
@inject NavigationManager NavigationManager
@inject TooltipService tooltipService

@if (ShowLoadFileDefinition)
{
    <div class="form-group">
        <RadzenCard>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">                       
                        <RadzenTextBox @bind-value="_url" Style="width:800px" Placeholder="Enter mod definition Url"> </RadzenTextBox>
                    </div>
                    <div class="col">
                        <RadzenButton Shade="Shade.Default" ButtonStyle=" ButtonStyle.Primary" Icon="rotate_right" Text="Load Definition file" Click="@DownloadFileDefinition" Disabled="@string.IsNullOrEmpty(_url)" />
                    </div>
                </div>
            </div>
        </div>
        </RadzenCard>
    </div>
}
    <div class="form-group">
        <div class="row">
            <div class="col">
  
            @if (DefinitionMode)
            {
                @if (_settings.IsAdmin)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add Mod" Click="@InsertRow" Disabled=@(_modToInsert != null || _modToUpdate != null) />
                }
            }
            else
            {
                @* <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="add_circle_outline" class="mt-2 mb-4" Text="Install Mod" Click="@InsertRow" Disabled=@(_modToInsert != null || _modToUpdate != null) /> *@
                <RadzenTextBox Placeholder="Search..." Change=@(args => OnSearch(args)) class="w-50" aria-label="TextBox with placeholder" />
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="search" class="mt-2 mb-4" Text="Search"  />
            }
            @if (ShowScanMod)
            {
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="scanner" class="mt-2 mb-4" Text="Scan Mods" Click="@ScanMod" Disabled=@(_modToInsert != null || _modToUpdate != null) />
            }
            @if (ShowLoadFileDefinition)
            {
                @if (_settings.IsAdmin)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="import_export" class="mt-2 mb-4" Text="Export Definition file" Click="@ExportMods" />
                }
            }
            </div>
            <div class="col">
            @if (ShowFilters)
            {
                if(filterPlane) 
{
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="flight" class="mt-2 mb-4" Text="Aicraft" Click="@FilterAicraft" />
                }
                else
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="flight" class="mt-2 mb-4" Text="Aicraft" Click="@FilterAicraft"/>
                }
                if(filterTech)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="token" class="mt-2 mb-4" Text="Tech" Click="@FilterTech" />
                }
                else
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="token" class="mt-2 mb-4" Text="Tech" Click="@FilterTech" />
                }
                if(filterLiveries)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="palette" class="mt-2 mb-4" Text="Liveries" Click="@FilterLiveries" />
                }
                else
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="palette" class="mt-2 mb-4" Text="Liveries" Click="@FilterLiveries"/>
                }
              
            }
            @if (ShowIsEnableButton)
            {
                <RadzenImage Src="/spacer.png" style="width: 50px;" />
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="toggle_on" class="mt-2 mb-4" Text="Enable Mods" Click="@EnableAll" />
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="toggle_off" class="mt-2 mb-4" Text="Disable Mods" Click="@DisableAll" Shade="Shade.Lighter" />
            }
            @if (DefinitionMode && Mods.Any(m =>m!= null && m.IsPotentialMatch)){
                <RadzenImage Src="/spacer.png" style="width: 50px;" />
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="auto_fix_normal" class="mt-2 mb-4" Text="Match All" Click="@MatchAll" />
            }
            @if (DefinitionMode && Mods.Any(mod =>mod != null && mod.IsDownloaded ==false && mod.IsPreviousVersion == false))
            {
                <RadzenImage Src="/spacer.png" style="width: 50px;" />
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="done" class="mt-2 mb-4" Text="Download All" Click="@DownloadAll" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Download missing mods",Position=TooltipPosition.Left}))" />
             }
            </div>
        </div>
    </div>
<RadzenDataGrid @ref="_modsGrid" AllowAlternatingRows="true" AllowFiltering="true" AllowPaging="false" PageSize="15" AllowSorting="true" EditMode="DataGridEditMode.Single" 
                Data="@Mods"  TItem="Mod" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" AllowGrouping="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" >
    <GroupHeaderTemplate>
        @context.Data.Key
    </GroupHeaderTemplate>
    <Columns>
        @if (!DefinitionMode)
        {
            <RadzenDataGridColumn TItem="Mod" Property="Folder" Title="Name" Width="">
            </RadzenDataGridColumn>

        }
        <RadzenDataGridColumn TItem="Mod" Property="Title" Title="Package" Width="">
            <EditTemplate Context="mod" >
                <RadzenTextBox @bind-Value="mod.Title" Style="width:100%; display: block" Name="Title" Disabled="_modToUpdate != null" />
                <RadzenRequiredValidator Text="Package is required" Component="Title" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
          

        <RadzenDataGridColumn TItem="Mod" Property="Description" Title="Description">
            <EditTemplate Context="mod">
                <RadzenTextBox @bind-Value="mod.Description" Style="width:100%; display: block" Name="Description" />
            </EditTemplate>
        </RadzenDataGridColumn>

        @if (ShowModTagetFolder)
        {
            <RadzenDataGridColumn TItem="Mod" Property="TargetFolder" Title="Folder">
                <Template Context="mod">

                    @if (mod.TargetFolder != null)
                    {
                        if (mod.TargetFolder.ToLower() == Names.Folders.TECH)
                        {
                            <RadzenIcon Icon="token" IconStyle="IconStyle.Info" alt="@mod.TargetFolder" />
                        }
                        else if (mod!.TargetFolder.ToLower() == Names.Folders.AIRCRAFT)
                        {
                            <RadzenIcon Icon="flight" IconStyle="IconStyle.Info" alt="@mod.TargetFolder" />
                        }
                        else if (mod!.TargetFolder.ToLower() == Names.Folders.LIVERIES)
                        {
                            <RadzenIcon Icon="palette" IconStyle="IconStyle.Info" alt="@mod.TargetFolder" />
                        }
                        else if (mod!.TargetFolder.ToLower() == Names.Folders.ROOT)
                        {
                            <RadzenIcon Icon="view_module" IconStyle="IconStyle.Info" alt="@mod.TargetFolder" />
                        }
                    }
                </Template>
                <EditTemplate Context="mod">
                    <RadzenDropDown @bind-Value=@mod.TargetFolder Data=@Names.Folders.FoldersList Disabled="_modToUpdate != null && DefinitionMode ==false" Name="Folder" />
                    <RadzenRequiredValidator Text="Folder is required" Component="Folder" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
        }
        <RadzenDataGridColumn TItem="Mod" Property="Version" Title="Version">
            <EditTemplate Context="mod">
                <RadzenTextBox @bind-Value="mod.Version" Style="width:100%; display: block" Name="Version" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Mod" Property="Size" Title="Size">
        </RadzenDataGridColumn>
        @if (ShowModUrl)
        {
            <RadzenDataGridColumn TItem="Mod" Property="Url" Title="URL">
                <Template Context="mod">
                    <RadzenLink Path="@mod.Url" Text="Go to url" target="_blank">
                        <RadzenIcon Icon="link" />
                    </RadzenLink>
                   
                </Template>
                <EditTemplate Context="mod">
                    <RadzenTextBox @bind-Value="mod.Url" Style="width:100%; display: block" Name="Url" />
                <RadzenRequiredValidator Text="Url is required" Component="Url" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        }
        @if (ShowIsDownloadButton & _modToInsert == null)
        {
            <RadzenDataGridColumn TItem="Mod" Context="mod" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="55px">
                <Template Context="mod">

                    @if (mod.IsPotentialMatch)
                    {
                        <RadzenButton Icon="auto_fix_normal" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Match",Position=TooltipPosition.Top}))"  Click="@(args => Match(mod))" @onclick:stopPropagation="true" />
                    }
                </Template>
            </RadzenDataGridColumn>
        }
        @if (ShowIsDownloadButton & _modToInsert ==null ){
        <RadzenDataGridColumn TItem="Mod" Context="mod" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="55px">
            <Template Context="mod">
                    @if (mod.IsDownloaded & mod.IsPreviousVersion == false)
                    {
                        <RadzenButton Icon="done" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => UpdateMod(mod))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Repair Mod",Position=TooltipPosition.Left}))" />
                    }
                    else if (mod.IsDownloading)
                    {
                        <RadzenButton Icon="downloading" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Size="ButtonSize.Medium" />
                    }
                    else if (mod.IsPreviousVersion)
                    {
                        <RadzenButton Icon="update" ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => UpdateMod(mod))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Update Mod to latest version",Position=TooltipPosition.Left}))" />
                    }
                    else
                    {
                        <RadzenButton Icon="download" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => DownloadMod(mod))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Download Mod",Position=TooltipPosition.Left}))" />
                    }                        
            </Template>
        </RadzenDataGridColumn>
        }
        @if (ShowIsEnableButton)
        {
            <RadzenDataGridColumn TItem="Mod" Context="mod" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="55px">
                <Template Context="mod">
                    @if (mod.IsDisable == false && (mod.IsDownloaded || mod.IsPreviousVersion))
                    {
                        <RadzenButton Icon="toggle_on" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => DisableMod(mod))" @onclick:stopPropagation="true" />
                    }
                    else if (mod.IsDisable && (mod.IsDownloaded || mod.IsPreviousVersion))
                    {
                        <RadzenButton Icon="toggle_off" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EnableMod(mod))" @onclick:stopPropagation="true" />
                    }           
            </Template>
        </RadzenDataGridColumn>
        }

        @if (!DefinitionMode || (DefinitionMode && _settings.IsAdmin))
        {
            <RadzenDataGridColumn TItem="Mod" Context="mod" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="55px">
                <Template Context="mod">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(mod))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Edit",Position=TooltipPosition.Top}))" />
                </Template>
                <EditTemplate Context="mod">
                    <RadzenButton Icon="save" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => SaveRow(mod))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Save",Position=TooltipPosition.Top}))" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Mod" Context="mod" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="55px">
                <Template Context="mod">
                    @if ((!mod.IsDisable && (mod.IsDownloaded || mod.IsPreviousVersion)) || DefinitionMode)
                    {
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(mod))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Delete Mod",Position=TooltipPosition.Top}))" />
                    }
                </Template>
            <EditTemplate Context="mod">
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(mod))">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(mod))" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions(){ Text = "Delete Mod",Position=TooltipPosition.Top}))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
        }
    </Columns>
</RadzenDataGrid>


@code {
    [Parameter]
    public bool DefinitionMode { get; set; } 
    [Parameter]
    public List<Mod> Mods { get; set; }
    [Parameter]
    public bool ShowScanMod { get; set; }
    [Parameter]
    public bool ShowAddMod { get; set; }
    [Parameter]
    public bool ShowLoadFileDefinition { get; set; }
    [Parameter]
    public bool ShowModUrl { get; set; } = true;
    [Parameter]
    public bool ShowModTagetFolder { get; set; } = true;
    [Parameter]
    public bool ShowIsDownloadButton { get; set; } = true;
    [Parameter]
    public bool ShowIsEnableButton { get; set; } = true;
    [Parameter]
    public bool ShowFilters { get; set; }

    RadzenDataGrid<Mod> _modsGrid;
    Mod _modToInsert;
    Mod _modToUpdate;
    FileResult _file = null;
    private string _url = "";
    private Settings _settings = null;
    private bool filterPlane = false;
    private bool filterLiveries = false;
    private bool filterTech = false;
    private bool onErrorFlag = false;
    private List<Mod> ModsBackup { get; set; }
    public bool IsNew {
        get
        {
            return _modToInsert != null;
        } 
    }
    public bool IsEditing
    {
        get
        {
            return _modToUpdate != null;
        }
    }


    private ModManagerService modManagerService = new ModManagerService();
    /// <summary>
    /// on init load settings
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            _settings = await modManagerService.GetSettings();
            if (string.IsNullOrEmpty(_settings.DCSSaveGamesPath))
                NavigationManager.NavigateTo("/AppSettings");
            _url = _settings.SquadronUrl;
            if (DefinitionMode && !string.IsNullOrEmpty(_url))
            {

                // await DownloadFileDefinition();
            }

        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }

    private async Task OnSearch(string value)
    {

        try
        {
            Mods = await modManagerService.GetMods(true);
            if (string.IsNullOrEmpty(value))
            {
                Mods = await modManagerService.GetMods(true);
            }
            else
            {
                Mods = Mods.Where(m => m.Title.ToLower().Contains(value) || m.Folder.ToLower().Contains(value) || m.Description.ToLower().Contains(value)).ToList();
            }

            _modsGrid.Reload();
            
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }

    private async Task FilterAicraft()
    {
        try
        {
            var column = _modsGrid.ColumnsCollection.Where(c => c.Property == "TargetFolder").FirstOrDefault();
            if (column != null)
            {
                if (column.FilterValue == Names.Folders.AIRCRAFT)
                {
                    column.FilterValue = "";
                    column.FilterOperator = FilterOperator.Contains;
                    filterTech = false;
                    filterLiveries = false;
                    filterPlane = false;
                }
                else
                {
                    column.FilterValue = Names.Folders.AIRCRAFT;
                    column.FilterOperator = FilterOperator.StartsWith;
                    filterTech = false;
                    filterLiveries = false;
                    filterPlane = true;
                }
                _modsGrid.Reload();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }

    private async Task FilterTech()
    {
        try
        {
            var column = _modsGrid.ColumnsCollection.Where(c => c.Property == "TargetFolder").FirstOrDefault();
            if (column != null)
            {
                if (column.FilterValue == Names.Folders.TECH)
                {
                    column.FilterValue = "";
                    column.FilterOperator = FilterOperator.Contains;
                    filterTech = false;
                    filterLiveries = false;
                    filterPlane = false;
                }
                else
                {
                    column.FilterValue = Names.Folders.TECH;
                    column.FilterOperator = FilterOperator.StartsWith;
                    filterTech = true;
                    filterLiveries = false;
                    filterPlane = false;


                }
                _modsGrid.Reload();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }

    private async Task FilterLiveries()
    {
        try
        {
            var column = _modsGrid.ColumnsCollection.Where(c => c.Property == "TargetFolder").FirstOrDefault();
            if (column != null)
            {
                if (column.FilterValue == Names.Folders.LIVERIES)
                {
                    column.FilterValue = "";
                    column.FilterOperator = FilterOperator.Contains;
                    filterTech = false;
                    filterLiveries = false;
                    filterPlane = false;
                }
                else
                {
                    column.FilterValue = Names.Folders.LIVERIES;
                    column.FilterOperator = FilterOperator.StartsWith;
                    filterTech = false;
                    filterLiveries = true;
                    filterPlane = false;
                }
                _modsGrid.Reload();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }

    /// <summary>
    /// scan mod folder
    /// </summary>
    /// <returns></returns>
    private async Task ScanMod()
    {
        try
        {
            var localMods = modManagerService.ScanMods();
            Mods = modManagerService.LocalDb.CopyMods(true);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }
    /// <summary>
    /// export mod definition
    /// </summary>
    /// <returns></returns>
    private async Task ExportMods()
    {
        try
        {
            var fileName =modManagerService.ExportMods(Mods);
            DialogService.Alert($"Your file has been export to :<br/>{fileName}", "Export Mod Definition", new AlertOptions() { OkButtonText = "Ok" });
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }

    async Task EditRow(Mod mod)
    {
        try
        {
            _modToUpdate = mod;
            await _modsGrid.EditRow(mod);
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }
    /// <summary>
    /// On Add button click
    /// </summary>
    /// <returns></returns>
    async Task InsertRow()
    {
        try
        {
            if (!DefinitionMode)
            {
                var result = await FilePicker.PickAsync(new PickOptions
                {
                    //FileTypes = FilePickerFileType.Images, // Set the desired file types
                });

                if (result != null)
                {
                    try
                    {

                        //if(e.File.e)
                        _file =result;
                        var fileExtension = Path.GetExtension(result.FileName);
                        if (string.IsNullOrEmpty(fileExtension) || (fileExtension.ToLower() != ".rar" && fileExtension.ToLower() != ".zip"))
                            throw new Exception("File type not supported");
                        var fileName = result.FileName.Replace(fileExtension, "");
                        _modToInsert = new Mod();                       
                        _modToInsert.Title = fileName;
                        await _modsGrid.InsertRow(_modToInsert);

                    }
                    catch (Exception ex)
                    {
                        await ShowErrorMessages("File not supported. Please select .rar or .zip file");
                    }
                }

            }
            else
            {
                _modToInsert = new Mod();
                await _modsGrid.InsertRow(_modToInsert);
            }
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }
    /// <summary>
    /// save row
    /// </summary>
    /// <param name="mod"></param>
    /// <returns></returns>
    private async Task SaveRow(Mod mod)
    {
        try
        {
            ShowBusyDialog($"Downloading", $"{mod.Title}", $"Target Folder : {mod.TargetFolder}", $"Size : {mod.Size}", $"Version : {mod.Version}");
            await _modsGrid.UpdateRow(mod);
            CloseBusyDialog();
        }
        catch (Exception ex)
        {
            CloseBusyDialog();
            await ShowErrorMessages(ex.Message);
        }
    }

    /// <summary>
    /// delete row
    /// </summary>
    /// <param name="mod"></param>
    /// <returns></returns>
    async Task DeleteRow(Mod mod)
    {
        try
        {
            if (mod == _modToInsert)
            {
                _modToInsert = null;
            }
            if (mod == _modToUpdate)
            {
                _modToUpdate = null;
            }
            if (Mods.Contains(mod))
            {
                var modPackage = Mods.Where(m => m.Title == mod.Title).ToList();
                if (!DefinitionMode)
                {            
                    var result = await DialogService.OpenAsync("Confirmation", ds =>
                    @<RadzenStack Gap="1.5rem">
                    <p>This operation will delete the following mods from your computer. Do you want to continue ?</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>TargetFolder</th>
                                    <th>Version</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var mod in modPackage)
                            {
                                <tr>
                                    <td>@mod.Title</td>
                                    <td>@mod.Description</td>
                                    <td>@mod.TargetFolder</td>
                                    <td>@mod.Version</td>
                                    <td>@mod.Size</td>
                                </tr>
                            }
                            </tbody>
                        </table>

                        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                            <RadzenStack Orientation="Orientation.Horizontal">
                                <RadzenButton Text="Confirm" Click="() => ds.Close(true)" />
                                <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenStack>

    );
                    if (result != null && result == true)
                    {
                        foreach (var m in modPackage)
                        {
                            modManagerService.DeleteMod(m);
                            Mods.Remove(m);
                        }
                        await _modsGrid.Reload();
                    }
                }
                else
                {
                    Mods.Remove(mod);
                    await _modsGrid.Reload();

                }

            }
            else
            {
                _modsGrid.CancelEditRow(mod);
                await _modsGrid.Reload();
            }
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }

    void DownloadFileDefinitionFromFile(string value, string name)
    {
        if (value != null)
        {
            ShowBusyDialog("Loading File Definition... ");

            // create a stream from the from base64 string and pass it to the service
            value = value.Replace("data:application/json;base64,", "");
            var stream = new MemoryStream(Convert.FromBase64String(value));

            Mods = modManagerService.DownloadFileDefinitionAsync(stream).Result;
            StateHasChanged();
            CloseBusyDialog();
        }
    }
    void OnError(UploadErrorEventArgs args, string name)
    {
        ;
        //console.Log($"{args.Message}");
    }

    private async Task DownloadFileDefinition()
    {
        try
        {
            ShowBusyDialog("Downloading File Definition... ");
            Mods=  await modManagerService.DownloadFileDefinitionAsync( _url);
            _settings.SquadronUrl = _url;
            modManagerService.SaveSettings(_settings);
            StateHasChanged();
            CloseBusyDialog();
        }
        catch (Exception ex)
        {
            CloseBusyDialog();
            if (ex.Message.Contains("403"))
                await ShowErrorMessages("Your limit has been exceeded on Google drive. Please try later..");
            else
                await ShowErrorMessages(ex.Message);


        }
    }
    /// <summary>
    /// download mod 
    /// </summary>
    /// <param name="modDefinition"></param>
    /// <returns></returns>
    private async Task DownloadAll()
    {
        try
        {

            onErrorFlag = false;
            var modToDowload = Mods.Where(mod => mod.IsDownloaded ==false & mod.IsPreviousVersion == false).ToList();
            var result = await DialogService.OpenAsync("Confirm Download", ds =>
            @<RadzenStack Gap="1.5rem">
                <p>Download the followings mods?</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>TargetFolder</th>
                            <th>Version</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var mod in modToDowload)
                    {
                        <tr>
                            <td>@mod.Title</td>
                            <td>@mod.Description</td>
                            <td>@mod.TargetFolder</td>
                            <td>@mod.Version</td>
                            <td>@mod.Size</td>
                        </tr>
                    }
                    </tbody>
                </table>

                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Confirm" Click="() => ds.Close(true)" />
                        <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
            );
            if (result != null && result == true)
            {
             
                StateHasChanged();             
                ShowBusyDialog($"Downloading all missing mods");
                foreach (var m in modToDowload)
                {
                    try{
                        await modManagerService.DownloadMod(m);
                    }
                    catch (Exception ex)
                    {
                        onErrorFlag = true;
                        CloseBusyDialog();
                        if (ex.Message.Contains("403"))
                            await ShowErrorMessages("Your limit has been exceeded on Google drive. Please try later..");
                        else if (ex.Message.Contains("End of Central Directory record could not be found"))
                            await ShowErrorMessages(string.Format(Names.ErrorMessages.TWOGBLIMIT,m.Title));
                        else
                            await ShowErrorMessages(ex.Message);
                        break;

                    }
                }
                if(onErrorFlag == false)
                    CloseBusyDialog();
            }

        }
        catch (Exception ex)
        {
            CloseBusyDialog();
            await ShowErrorMessages("Download stop. Please retry later");

        }
    }

    /// <summary>
    /// download mod
    /// </summary>
    /// <param name="modDefinition"></param>
    /// <returns></returns>
    private async Task DownloadMod(Mod modDefinition)
    {
        try
        {
            ShowBusyDialog($"Downloading", $"{modDefinition.Title}", $"Target Folder : {modDefinition.TargetFolder}", $"Size : {modDefinition.Size}", $"Version : {modDefinition.Version}");
            await modManagerService.DownloadMod(modDefinition);
            StateHasChanged();
            CloseBusyDialog();
        }
        catch (Exception ex)
        {
            onErrorFlag = true;
            CloseBusyDialog();
            if (ex.Message.Contains("403"))
                await ShowErrorMessages("Your limit has been exceeded on Google drive. Please try later..");
            else if (ex.Message.Contains("End of Central Directory record could not be found"))
                await ShowErrorMessages(string.Format(Names.ErrorMessages.TWOGBLIMIT, modDefinition.Title));
            else
                await ShowErrorMessages(ex.Message);

        }
    }
    /// <summary>
    /// update mod
    /// </summary>
    /// <param name="modDefinition"></param>
    /// <returns></returns>
    private async Task UpdateMod(Mod modDefinition)
    {
        try
        {
            ShowBusyDialog($"Updating", $"{modDefinition.Title}", $"Target Folder : {modDefinition.TargetFolder}", $"Size : {modDefinition.Size}", $"Version : {modDefinition.Version}");
            await modManagerService.DownloadMod(modDefinition,true);
            StateHasChanged();
            CloseBusyDialog();
        }
        catch (Exception ex)
        {
            CloseBusyDialog();
            if (ex.Message.Contains("403"))
                await ShowErrorMessages("Your limit has been exceeded on Google drive. Please try later..");
            else
                await ShowErrorMessages(ex.ToString());

        }    
    }
    /// <summary>
    /// Match mod
    /// </summary>
    /// <param name="mod"></param>
    /// <returns></returns>
    private async Task MatchAll()
    {
        try
        {

            ;
                    var result = await DialogService.OpenAsync("Confirm match", ds =>
    @<RadzenStack Gap="1.5rem">
        <p>We have found a potential match on your local drive that could fit the squadron mod definition.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>TargetFolder</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var mod in Mods)
            {
                if(mod.IsPotentialMatch){
                <tr>
                    <td>@mod.PotentialMatch.Title</td>
                    <td>@mod.PotentialMatch.Description</td>
                    <td>@mod.PotentialMatch.TargetFolder</td>
                    <td>@mod.PotentialMatch.Version</td>
                </tr>
                }
            }
            </tbody>
        </table>

        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Confirm" Click="() => ds.Close(true)" />
                <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    );
            if (result != null && result == true)
            {
                if (Mods.Any(m => m.IsPotentialMatch))
                {
                    Mods.Where(m => m.IsPotentialMatch).ToList().ForEach(mod =>
                    {
                        modManagerService.Match(mod);
                        mod.IsPotentialMatch = false;
                        mod.IsDownloaded = true;
                    });
                    modManagerService.ScanMods();
                    await _modsGrid.Reload();
                    StateHasChanged();
                }
            }

        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }
    /// <summary>
    /// Match mod
    /// </summary>
    /// <param name="mod"></param>
    /// <returns></returns>
    private async Task Match(Mod mod)
    {
        try
        {
            var result = await DialogService.OpenAsync("Confirm match", ds =>
        @<RadzenStack Gap="1.5rem">
            <p>We have found a potential match on your local drive that could fit the squadron mod definition.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>TargetFolder</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@mod.PotentialMatch.Title</td>
                        <td>@mod.PotentialMatch.Description</td>
                        <td>@mod.PotentialMatch.TargetFolder</td>
                        <td>@mod.PotentialMatch.Version</td>
                    </tr>

                </tbody>
            </table>

            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Confirm" Click="() => ds.Close(true)" />
                    <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );
            if (result != null && result==true)
            {
                modManagerService.Match(mod);
                mod.IsPotentialMatch = false;
                mod.IsDownloaded = true;
                modManagerService.ScanMods();
                await _modsGrid.Reload();
                StateHasChanged();
            }

        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }
    /// <summary>
    /// Disable all mods
    /// </summary>
    /// <returns></returns>
    private async Task DisableAll()
    {
        try
        {
            InvokeAsync(async () =>
            {
                await Task.Delay(500);
                string filter = "";
                var column = _modsGrid.ColumnsCollection.Where(c => c.Property == "TargetFolder").FirstOrDefault();
                if (column != null)
                {
                    filter = column.FilterValue?.ToString();
                }
                if (!string.IsNullOrEmpty(filter))
                {
                    Mods.ForEach(m =>
                {
                    if (m.IsDisable == false && m.TargetFolder == filter)
                    {
                        modManagerService.DisableMod(m);
                        m.IsDisable = true;
                        m.IsDownloaded = true;
                    }
                });
                }
                else
                {
                    Mods.ForEach(m =>
                {
                    if (m.IsDisable == false)
                    {
                        modManagerService.DisableMod(m);
                        m.IsDisable = true;
                        m.IsDownloaded = true;
                    }
                });
                }
                await _modsGrid.Reload();
                DialogService.Close();
            });
            await ShowBusyDialog("Disabling Mods..");
        }
        catch (Exception ex)
        {
            CloseBusyDialog();
            await ShowErrorMessages(ex.Message);
 
        }
    }

    /// <summary>
    /// enable all mods
    /// </summary>
    /// <returns></returns>
    private async Task EnableAll()
    {
        try
        {       
            InvokeAsync(async () =>
            {
                await Task.Delay(500);
                string filter = "";
                var column = _modsGrid.ColumnsCollection.Where(c => c.Property == "TargetFolder").FirstOrDefault();
                if (column != null)
                {
                    filter = column.FilterValue?.ToString();
                }
                if (!string.IsNullOrEmpty(filter))
                {
                    Mods.ForEach(m =>
                {
                    if (m.IsDisable && m.TargetFolder == filter)
                    {
                    modManagerService.EnableMod(m);
                    m.IsDisable = false;
                    m.IsDownloaded = true;
                    }
                });
                }
                else
                {
                    Mods.ForEach(m =>
                    {
                        if (m.IsDisable)
                        {
                            modManagerService.EnableMod(m);
                            m.IsDisable = false;
                            m.IsDownloaded = true;
                        }
                    });
                }
                await _modsGrid.Reload();
                CloseBusyDialog();
        });
            await ShowBusyDialog("Enabling Mods..");
        }
        catch (Exception ex)
        {
            CloseBusyDialog();
            await ShowErrorMessages(ex.Message);

        }
    }

    /// <summary>
    /// disable mod
    /// </summary>
    /// <param name="modDefinition"></param>
    /// <returns></returns>
    private async Task DisableMod(Mod modDefinition)
    {
        try
        {
            modManagerService.DisableMod(modDefinition);
            modDefinition.IsDisable = true;
            modDefinition.IsDownloaded = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }

    /// <summary>
    /// enable mod
    /// </summary>
    /// <param name="modDefinition"></param>
    /// <returns></returns>
    private async Task EnableMod(Mod modDefinition)
    {
        try
        {

            modManagerService.EnableMod(modDefinition);
            modDefinition.IsDisable = false;
            modDefinition.IsDownloaded = true;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await ShowErrorMessages(ex.Message);
        }
    }
    /// <summary>
    /// update row event
    /// </summary>
    /// <param name="mod"></param>
    void OnUpdateRow(Mod mod)
    {
        try
        {
            if (mod == _modToInsert)
            {
                _modToInsert = null;
            }
            _modToUpdate = null;
            if (!DefinitionMode){
                modManagerService.UpdateMod(mod);
                Mods = modManagerService.LocalDb.CopyMods(true);
                _modsGrid.Reload();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ShowErrorMessages(ex.Message).Wait();
        }
    }

    /// <summary>
    /// create row event
    /// </summary>
    /// <param name="mod"></param>
    async void OnCreateRow(Mod mod)
    {
        try
        {
            if(!DefinitionMode)
                ShowBusyDialog("Extracting  Mod... ");
            mod = await modManagerService.AddMod(mod,_file, !DefinitionMode);
            _modToInsert = mod;
            Mods.Add(mod);
            _modToInsert = null;
            if (!DefinitionMode)
            {
                CloseBusyDialog();
                ScanMod();
            }
            await _modsGrid.Reload();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            CloseBusyDialog();
            await ShowErrorMessages(ex.Message);
        }
    }
    /// <summary>
    /// cancel edit event
    /// </summary>
    /// <param name="mod"></param>
    void CancelEdit(Mod mod)
    {
        if (mod == _modToInsert)
        {
            _modToInsert = null;
        }
        _modToUpdate = null;
        _modsGrid.CancelEditRow(mod);
    }
    void Reset()
    {
        _modToInsert = null;
        _modToUpdate = null;
    }

    /// <summary>
    /// show error messages as dialog
    /// </summary>
    /// <param name="line1"></param>
    /// <param name="line2"></param>
    /// <param name="line3"></param>
    /// <param name="line4"></param>
    /// <returns></returns>
    async Task ShowBusyDialog(string title = "Loading...", string line1 = "",string line2 = "", string line3 = "", string line4 = "")
    {
        await BusyDialog(title,line1,line2,line3,line4);     
    }

    async Task BusyDialog(string title, string line1, string line2, string line3, string line4 )
    {
        await DialogService.OpenAsync("Please Wait...", ds =>
    @<div>
        <div class="row">
            <div class="col">
                <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large" />
            </div>
            <div class="col">
                <RadzenCard Style="width:100%">
                    <p><h4>@title</h4></p>
                    @if (!string.IsNullOrEmpty(line1))
                    {
                    <table class="table">
                        <tbody>
                            <tr><b>@line1</b></tr>
                            <tr>
                                <td>@line2</td>
                            </tr>
                            <tr>
                                <td>@line3</td>
                            </tr>
                            <tr>
                                <td>@line4</td>
                            </tr>
                        </tbody>
                    </table>
                    }
                    
                </RadzenCard>
            
            </div>
        </div>
        </div>
    , new DialogOptions() { ShowTitle = true, Width = "650px", Height = "300px", Resizable = true, Draggable = true });
        await Task.Delay(2000);
    }
    /// <summary>
    /// close busy dialog
    /// </summary>
    /// <returns></returns>
    async Task CloseBusyDialog()
    {
        DialogService.Close();
    }

    /// <summary>
    /// show error messages as dialog
    /// </summary>
    /// <param name="errorMessage"></param>
    /// <returns></returns>
    async Task ShowErrorMessages(string errorMessage)
    {
        DialogService.Alert(errorMessage, "Error", new AlertOptions() { OkButtonText = "Ok" });

    }
    void ShowTooltip(ElementReference elementReference, TooltipOptions options = null) => tooltipService.Open(elementReference, options.Text, options);

    
}


